<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/categories/' + competitionId"></ion-back-button>
    </ion-buttons>

    <ion-title>Inscrições</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input [(ngModel)]="name" placeholder="Nome do competidor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="horse" placeholder="Nome do cavalo"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addEntry()">
    {{ editingId ? 'Atualizar inscrição' : 'Adicionar inscrição' }}
  </ion-button>

  <ion-button 
    expand="block" 
    color="secondary" 
    (click)="generateOrder()"
    *ngIf="hasUnorderedEntries()">
    Atualizar ordem de entrada
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let entry of entries">
      <strong>{{ entry.order || '-' }}</strong>
      &nbsp; - {{ entry.name }} - Cavalo: {{ entry.horse }}

      <p *ngIf="getAverage(entry) > 0">
        🏆 Média: {{ getAverage(entry) | number:'1.1-2' }}
      </p>

      <ion-button color="danger" (click)="deleteEntry(entry.id)">
        Excluir
      </ion-button>

      <ion-button color="primary" (click)="editEntry(entry)">
        Editar
      </ion-button>

      <div *ngFor="let judge of judges">

        <ion-item>
          <ion-label>
            {{ judge.name }}
          </ion-label>

          <ion-input
            type="number"
            placeholder="Nota"
            [(ngModel)]="entry.scores[judge.id]"
            (ionChange)="saveScore(entry)">
          </ion-input>

        </ion-item>

      </div>

    </ion-item>
  </ion-list>

  <h2>Ranking</h2>

  <ion-list>
    <ion-item *ngFor="let entry of getRanking(); let i = index">
      {{ i + 1 }}º - {{ entry.name }} ({{ getAverage(entry) | number:'1.1-2' }})
    </ion-item>
  </ion-list>

</ion-content>