<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/categories/' + competitionId"></ion-back-button>
    </ion-buttons>

    <ion-title>Inscrições</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input [(ngModel)]="name" placeholder="Nome do competidor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="horse" placeholder="Nome do cavalo"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addEntry()">
    {{ editingId ? 'Atualizar inscrição' : 'Adicionar inscrição' }}
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="generateOrder()">
    Gerar ordem de entrada
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let entry of entries">

      <ion-label>
        {{ entry.order }} - {{ entry.name }} - Cavalo: {{ entry.horse }}
      </ion-label>

      <ion-button color="danger" (click)="deleteEntry(entry.id)">
        Excluir
      </ion-button>

      <ion-button color="primary" (click)="editEntry(entry)">
        Editar
      </ion-button>

    </ion-item> 
  </ion-list>

</ion-content>