<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/competitions"></ion-back-button>
    </ion-buttons>

    <ion-title>Juízes</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input [(ngModel)]="name" placeholder="Nome do juiz"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Email do juiz"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addJudge()">
    {{ editingId ? 'Atualizar juiz' : 'Adicionar juiz' }}
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let judge of judges">

      <ion-label>
        {{ judge.name }}
      </ion-label>

      <ion-button size="small" (click)="editJudge(judge); $event.stopPropagation()">
        Editar
      </ion-button>

      <ion-button size="small" color="danger" (click)="deleteJudge(judge.id); $event.stopPropagation()">
        Excluir
      </ion-button>

    </ion-item>
  </ion-list>

</ion-content>