<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Minhas Competições</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-list *ngIf="!loading && competitions.length > 0">
    <ion-item button *ngFor="let comp of competitions" (click)="goToCompetition(comp)">
      {{ comp.name }}
    </ion-item>
  </ion-list>

  <div *ngIf="!loading && competitions.length === 0" class="ion-text-center ion-padding">
    Nenhuma competição atribuída
  </div>

</ion-content>