<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="login()">
    Entrar
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="register()">
    Criar conta
  </ion-button>

</ion-content>